{% extends "base.html" %}
{% block main %}
<div class="article-container">
{% if article_list %}
    {% for article in article_list %}
        <div class="article">
          {% autoescape off %}
          <h2>{{article.title}}</h2>
          {% if article.splash %}
            <img src={{article.splash.url}} alt="Splash Image">
          {% endif %}
          {% comment %}
          {% if article.splash != '' %}
          <img src={{article.splash}} alt="Splash Image">
          {% endif %}
          {% endcomment %}
          {{article.content}}
          {% endautoescape %}
        </div>
    {% endfor %}
{% else %}
  <p> you passed the wrong list buddy </p>
{% endif %}
</div>
{% endblock %}
